## PROMOTE GENDER EQUALITY AND EMPOWER WOMEN

## Análise Exploratória de Dados

In [1]:
from IPython.display import display, Markdown, Latex
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1 - Lendo os dados

In [2]:
#Dados incompletos pegados do site http://hdr.undp.org/en/content/developing-regions  (menu esquerda 'Download DB 2018')
filename = 'Dados/HDR_2018_data.xlsx'
first_data = pd.read_excel(filename)

#Dados conseguidos numa outra source para categorizar os paises por regiao e income type
metadata_filename = 'Dados/HDR_2018_country_metadata.xlsx'
country_metadata = pd.read_excel(metadata_filename)

In [3]:
print(first_data.shape)
print(country_metadata.shape)

(25636, 34)
(217, 4)

In [4]:
first_data.head()

,dimension,indicator_id,indicator_name,iso3,country_name,1990,1991,1992,1993,1994,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,9999
0,Composite indices,146206,HDI rank,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.0,168.0,NaN
1,Composite indices,146206,HDI rank,ALB,Albania,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,68.0,NaN
2,Composite indices,146206,HDI rank,DZA,Algeria,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,85.0,NaN
3,Composite indices,146206,HDI rank,AND,Andorra,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,35.0,NaN
4,Composite indices,146206,HDI rank,AGO,Angola,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,147.0,NaN

In [5]:
country_metadata.head()

,Code,Long Name,Income Group,Region
0,AFG,Islamic State of Afghanistan,Low income,South Asia
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia
2,DZA,People's Democratic Republic of Algeria,Upper middle income,Middle East & North Africa
3,ASM,American Samoa,Upper middle income,East Asia & Pacific
4,AND,Principality of Andorra,High income,Europe & Central Asia

In [6]:
#Fazemos merge para poder categorizar os dados por regiao e grupo de income
data = pd.merge(left=first_data, right=country_metadata, how='left', left_on='iso3', right_on='Code')

#Evitamos redundancias
data.drop('Code', axis=1, inplace=True) # 1 is the axis number (0 for rows and 1 for columns) & inplace to not have to reassign a new df

In [7]:
data.shape

(25636, 37)

In [8]:
data.head()

,dimension,indicator_id,indicator_name,iso3,country_name,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,9999,Long Name,Income Group,Region
0,Composite indices,146206,HDI rank,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168.0,168.0,NaN,Islamic State of Afghanistan,Low income,South Asia
1,Composite indices,146206,HDI rank,ALB,Albania,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.0,68.0,NaN,Republic of Albania,Upper middle income,Europe & Central Asia
2,Composite indices,146206,HDI rank,DZA,Algeria,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,83.0,85.0,NaN,People's Democratic Republic of Algeria,Upper middle income,Middle East & North Africa
3,Composite indices,146206,HDI rank,AND,Andorra,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.0,35.0,NaN,Principality of Andorra,High income,Europe & Central Asia
4,Composite indices,146206,HDI rank,AGO,Angola,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,145.0,147.0,NaN,People's Republic of Angola,Lower middle income,Sub-Saharan Africa

In [9]:
#Mudando nome de algumas colunas
data.rename(columns={'dimension':'category','iso3':'code','Long Name':'long_name','Income Group':'income_group','Region':'region'},inplace=True)

In [10]:
data.head()

,category,indicator_id,indicator_name,code,country_name,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,9999,long_name,income_group,region
0,Composite indices,146206,HDI rank,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168.0,168.0,NaN,Islamic State of Afghanistan,Low income,South Asia
1,Composite indices,146206,HDI rank,ALB,Albania,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.0,68.0,NaN,Republic of Albania,Upper middle income,Europe & Central Asia
2,Composite indices,146206,HDI rank,DZA,Algeria,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,83.0,85.0,NaN,People's Democratic Republic of Algeria,Upper middle income,Middle East & North Africa
3,Composite indices,146206,HDI rank,AND,Andorra,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.0,35.0,NaN,Principality of Andorra,High income,Europe & Central Asia
4,Composite indices,146206,HDI rank,AGO,Angola,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,145.0,147.0,NaN,People's Republic of Angola,Lower middle income,Sub-Saharan Africa

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25636 entries, 0 to 25635
Data columns (total 37 columns):
category          25636 non-null object
indicator_id      25636 non-null int64
indicator_name    25636 non-null object
code              25636 non-null object
country_name      25636 non-null object
1990              10073 non-null float64
1991              7454 non-null float64
1992              5740 non-null float64
1993              5986 non-null float64
1994              5808 non-null float64
1995              13849 non-null float64
1996              6217 non-null float64
1997              6347 non-null float64
1998              6384 non-null float64
1999              6462 non-null float64
2000              16612 non-null float64
2001              7556 non-null float64
2002              7582 non-null float64
2003              7627 non-null float64
2004              7708 non-null float64
2005              17048 non-null float64
2006              12885 non-null float64
2007              12925 non-null float64
2008              12856 non-null float64
2009              13164 non-null float64
2010              18653 non-null float64
2011              17555 non-null float64
2012              17401 non-null float64
2013              17436 non-null float64
2014              17644 non-null float64
2015              18381 non-null float64
2016              16277 non-null float64
2017              12728 non-null float64
9999              23606 non-null float64
long_name         25636 non-null object
income_group      25636 non-null object
region            25636 non-null object
dtypes: float64(29), int64(1), object(7)
memory usage: 7.4+ MB

Os dados parecem estar corretamente classificados, sendo:
    * 'object' os dados de string
    * 'int' e 'float64' os dados numericos

## Convertindo o DataSet

Segundo o principio de 'tidy data':
    * Colunas representas variaveis diferentes
    * Linhas representam observacoes individuais

Entao o nosso dataset tem que ser modificado para ter nas colunas os dados que nos interessam.

In [12]:
data.drop(9999, axis=1, inplace=True)

In [13]:
data_per_year = pd.melt(frame=data, id_vars=['category','indicator_id','indicator_name','code', 'country_name','long_name','income_group','region'], var_name = 'year')

In [14]:
data_per_year.head()

,category,indicator_id,indicator_name,code,country_name,long_name,income_group,region,year,value
0,Composite indices,146206,HDI rank,AFG,Afghanistan,Islamic State of Afghanistan,Low income,South Asia,1990,NaN
1,Composite indices,146206,HDI rank,ALB,Albania,Republic of Albania,Upper middle income,Europe & Central Asia,1990,NaN
2,Composite indices,146206,HDI rank,DZA,Algeria,People's Democratic Republic of Algeria,Upper middle income,Middle East & North Africa,1990,NaN
3,Composite indices,146206,HDI rank,AND,Andorra,Principality of Andorra,High income,Europe & Central Asia,1990,NaN
4,Composite indices,146206,HDI rank,AGO,Angola,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,1990,NaN

In [15]:
data_per_year.shape

(717808, 10)

In [16]:
data_per_year.drop('category', axis=1, inplace=True)
data_per_year.drop('indicator_id', axis=1, inplace=True)
data_per_year.drop('long_name', axis=1, inplace=True)

In [17]:
data_per_year.head()

,indicator_name,code,country_name,income_group,region,year,value
0,HDI rank,AFG,Afghanistan,Low income,South Asia,1990,NaN
1,HDI rank,ALB,Albania,Upper middle income,Europe & Central Asia,1990,NaN
2,HDI rank,DZA,Algeria,Upper middle income,Middle East & North Africa,1990,NaN
3,HDI rank,AND,Andorra,High income,Europe & Central Asia,1990,NaN
4,HDI rank,AGO,Angola,Lower middle income,Sub-Saharan Africa,1990,NaN

In [38]:
k = data_per_year.indicator_name.unique()

In [39]:
df = pd.DataFrame(k)

In [40]:
df.shape

(157, 1)

In [42]:
df.sort_values(by=[0])

                                                     0
128                    Adjusted net savings (% of GNI)
45   Adolescent birth rate (births per 1,000 women ...
46     Antenatal care coverage, at least one visit (%)
83                  Birth registration (% under age 5)
35   Carbon dioxide emissions (kg per 2011 PPP $ of...
36       Carbon dioxide emissions, per capita (tonnes)
145                         Child labour (% ages 5-17)
68   Child malnutrition, stunting (moderate or seve...
47   Child marriage, women married by age 18 (% of ...
96                     Coefficient of human inequality
129              Concentration index (exports) (value)
48   Contraceptive prevalence, any method (% of mar...
69               Current health expenditure (% of GDP)
90   Domestic credit provided by financial sector (...
11                                     Education index
146  Employment in agriculture (% of total employment)
147     Employment in services (% of total employment)
148  Employment to population ratio (% ages 15 and ...
49   Estimated gross national income per capita, fe...
50   Estimated gross national income per capita, ma...
12                 Expected years of schooling (years)
13         Expected years of schooling, female (years)
14           Expected years of schooling, male (years)
140                     Exports and imports (% of GDP)
51   Female share of employment in senior and middl...
52   Female share of graduates in science, mathemat...
141  Foreign direct investment, net inflows (% of GDP)
37                  Forest area (% of total land area)
38                             Forest area, change (%)
39   Fossil fuel energy consumption (% of total ene...
..                                                 ...
135  Ratio of education and health expenditure to m...
43                              Red List Index (value)
87           Refugees by country of origin (thousands)
144                    Remittances, inflows (% of GDP)
44   Renewable energy consumption (% of total final...
136    Research and development expenditure (% of GDP)
137    Rural population with access to electricity (%)
7           Sex ratio at birth (male to female births)
60   Share of employment in nonagriculture, female ...
61      Share of seats in parliament (% held by women)
138           Skilled labour force (% of labour force)
88           Suicide rate, female (per 100,000 people)
89             Suicide rate, male (per 100,000 people)
34   Survival rate to the last grade of lower secon...
139  Total debt service (% of exports of goods, ser...
8                          Total population (millions)
62      Total unemployment rate (female to male ratio)
82         Tuberculosis incidence (per 100,000 people)
153            Unemployment, total (% of labour force)
154                 Unemployment, youth (% ages 15–24)
63   Unmet need for family planning (% of married o...
9                                 Urban population (%)
64   Violence against women ever experienced, intim...
65   Violence against women ever experienced, nonin...
155      Vulnerable employment (% of total employment)
66   Women with account at financial institution or...
127  Working poor at PPP$3.10 a day (% of total emp...
10   Young age (0-14) dependency ratio (per 100 peo...
156   Youth not in school or employment (% ages 15-24)
67      Youth unemployment rate (female to male ratio)

[157 rows x 1 columns]

In [47]:
df.iloc[47,0]

'Child marriage, women married by age 18 (% of women ages 20–24 years who are married or in union)'

In [41]:
df

                                                     0
0                                             HDI rank
1                        Human Development Index (HDI)
2                                   Median age (years)
3    Old-age (65 and older) dependency ratio (per 1...
4                     Population ages 15–64 (millions)
5              Population ages 65 and older (millions)
6                    Population under age 5 (millions)
7           Sex ratio at birth (male to female births)
8                          Total population (millions)
9                                 Urban population (%)
10   Young age (0-14) dependency ratio (per 100 peo...
11                                     Education index
12                 Expected years of schooling (years)
13         Expected years of schooling, female (years)
14           Expected years of schooling, male (years)
15      Government expenditure on education (% of GDP)
16   Gross enrolment ratio, pre-primary (% of presc...
17   Gross enrolment ratio, primary (% of primary s...
18   Gross enrolment ratio, secondary (% of seconda...
19   Gross enrolment ratio, tertiary (% of tertiary...
20          Literacy rate, adult (% ages 15 and older)
21                     Mean years of schooling (years)
22             Mean years of schooling, female (years)
23               Mean years of schooling, male (years)
24   Population with at least some secondary educat...
25   Population with at least some secondary educat...
26   Population with at least some secondary educat...
27   Primary school dropout rate (% of primary scho...
28        Primary school teachers trained to teach (%)
29   Programme for International Student Assessment...
..                                                 ...
127  Working poor at PPP$3.10 a day (% of total emp...
128                    Adjusted net savings (% of GNI)
129              Concentration index (exports) (value)
130                 Gross capital formation (% of GDP)
131   Income quintile ratio, average annual change (%)
132  Overall loss in HDI value due to inequality, a...
133  Population using improved drinking-water sourc...
134  Population using improved sanitation facilitie...
135  Ratio of education and health expenditure to m...
136    Research and development expenditure (% of GDP)
137    Rural population with access to electricity (%)
138           Skilled labour force (% of labour force)
139  Total debt service (% of exports of goods, ser...
140                     Exports and imports (% of GDP)
141  Foreign direct investment, net inflows (% of GDP)
142  Net official development assistance received (...
143                   Private capital flows (% of GDP)
144                    Remittances, inflows (% of GDP)
145                         Child labour (% ages 5-17)
146  Employment in agriculture (% of total employment)
147     Employment in services (% of total employment)
148  Employment to population ratio (% ages 15 and ...
149  Labour force participation rate (% ages 15 and...
150  Labour force participation rate (% ages 15 and...
151  Labour force participation rate (% ages 15 and...
152  Old-age pension recipients (% of statutory pen...
153            Unemployment, total (% of labour force)
154                 Unemployment, youth (% ages 15–24)
155      Vulnerable employment (% of total employment)
156   Youth not in school or employment (% ages 15-24)

[157 rows x 1 columns]

In [37]:
print(k.shape)

(157,)

In [25]:
# Depois desse comando, vamos ter um MultiIndex
data_tidy = data_per_year.pivot_table(index=['code', 'country_name','income_group','region','year'],
                                     columns = 'indicator_name', values = 'value')

In [23]:
data_tidy.head(50)

indicator_name                                                 Adjusted net savings (% of GNI)  \
code country_name income_group        region             year
AFG  Afghanistan  Low income          South Asia         1990                              NaN
                                                         1991                              NaN
                                                         1992                              NaN
                                                         1993                              NaN
                                                         1994                              NaN
                                                         1995                              NaN
                                                         1996                              NaN
                                                         1997                              NaN
                                                         1998                              NaN
                                                         1999                              NaN
                                                         2000                              NaN
                                                         2001                              NaN
                                                         2002                              NaN
                                                         2003                              NaN
                                                         2004                              NaN
                                                         2005                              NaN
                                                         2006                              NaN
                                                         2007                              NaN
                                                         2008                              NaN
                                                         2009                              NaN
                                                         2010                            -19.3
                                                         2011                            -25.3
                                                         2012                            -19.2
                                                         2013                            -26.7
                                                         2014                            -22.9
                                                         2015                            -27.6
                                                         2016                            -28.5
                                                         2017                              NaN
AGO  Angola       Lower middle income Sub-Saharan Africa 1990                            -48.0
                                                         1991                              NaN
                                                         1992                              NaN
                                                         1993                              NaN
                                                         1994                              NaN
                                                         1995                              NaN
                                                         1996                              NaN
                                                         1997                              NaN
                                                         1998                              NaN
                                                         1999                              NaN
                                                         2000                            -75.1
                                                         2001                              NaN
                                                         2002                              NaN
                                                         2003                              NaN
                                                         2004                              NaN
                                                         2005                            -50.6
                                                         2006                              NaN
                                                         2007                              NaN
                                                         2008                              NaN
                                                         2009                              NaN
                                                         2010                            -38.1
                                                         2011                            -39.1

indicator_name                                                 Adolescent birth rate (births per 1,000 women ages 15-19)  \
code country_name income_group        region             year
AFG  Afghanistan  Low income          South Asia         1990                                              161.2
                                                         1991                                                NaN
                                                         1992                                                NaN
                                                         1993                                                NaN
                                                         1994                                                NaN
                                                         1995                                              163.9
                                                         1996                                                NaN
                                                         1997                                                NaN
                                                         1998                                                NaN
                                                         1999                                                NaN
                                                         2000                                              165.2
                                                         2001                                                NaN
                                                         2002                                                NaN
                                                         2003                                                NaN
                                                         2004                                                NaN
                                                         2005                                              146.4
                                                         2006                                                NaN
                                                         2007                                                NaN
                                                         2008                                                NaN
                                                         2009                                                NaN
                                                         2010                                              101.8
                                                         2011                                               96.5
                                                         2012                                               91.2
                                                         2013                                               85.9
                                                         2014                                               80.6
                                                         2015                                               75.3
                                                         2016                                               64.5
                                                         2017                                               64.5
AGO  Angola       Lower middle income Sub-Saharan Africa 1990                                              220.5
                                                         1991                                                NaN
                                                         1992                                                NaN
                                                         1993                                                NaN
                                                         1994                                                NaN
                                                         1995                                              213.0
                                                         1996                                                NaN
                                                         1997                                                NaN
                                                         1998                                                NaN
                                                         1999                                                NaN
                                                         2000                                              202.5
                                                         2001                                                NaN
                                                         2002                                                NaN
                                                         2003                                                NaN
                                                         2004                                                NaN
                                                         2005                                              192.8
                                                         2006                                                NaN
                                                         2007                                                NaN
                                                         2008                                                NaN
                                                         2009                                                NaN
                                                         2010                                              173.6
                                                         2011                                              170.7

indicator_name                                                 Antenatal care coverage, at least one visit (%)  \
code country_name income_group        region             year
AFG  Afghanistan  Low income          South Asia         1990                                              NaN
                                                         1991                                              NaN
                                                         1992                                              NaN
                                                         1993                                              NaN
                                                         1994                                              NaN
                                                         1995                                              NaN
                                                         1996                                              NaN
                                                         1997                                              NaN
                                                         1998                                              NaN
                                                         1999                                              NaN
                                                         2000                                              NaN
                                                         2001                                              NaN
                                                         2002                                              NaN
                                                         2003                                              NaN
                                                         2004                                              NaN
                                                         2005                                              NaN
                                                         2006                                              NaN
                                                         2007                                              NaN
                                                         2008                                             36.0
                                                         2009                                              NaN
                                                         2010                                             59.6
                                                         2011                                             47.9
                                                         2012                                             51.2
                                                         2013                                              NaN
                                                         2014                                             63.2
                                                         2015                                             58.6
                                                         2016                                              NaN
                                                         2017                                              NaN
AGO  Angola       Lower middle income Sub-Saharan Africa 1990                                              NaN
                                                         1991                                              NaN
                                                         1992                                              NaN
                                                         1993                                              NaN
                                                         1994                                              NaN
                                                         1995                                              NaN
                                                         1996                                              NaN
                                                         1997                                              NaN
                                                         1998                                              NaN
                                                         1999                                              NaN
                                                         2000                                              NaN
                                                         2001                                              NaN
                                                         2002                                              NaN
                                                         2003                                              NaN
                                                         2004                                              NaN
                                                         2005                                              NaN
                                                         2006                                              NaN
                                                         2007                                             79.8
                                                         2008                                              NaN
                                                         2009                                              NaN
                                                         2010                                              NaN
                                                         2011                                              NaN

indicator_name                                                 Carbon dioxide emissions (kg per 2011 PPP $ of GDP)  \
code country_name income_group        region             year
AFG  Afghanistan  Low income          South Asia         1990                                                NaN
                                                         1991                                                NaN
                                                         1992                                                NaN
                                                         1993                                                NaN
                                                         1994                                                NaN
                                                         1995                                                NaN
                                                         1996                                                NaN
                                                         1997                                                NaN
                                                         1998                                                NaN
                                                         1999                                                NaN
                                                         2000                                                NaN
                                                         2001                                                NaN
                                                         2002                                                NaN
                                                         2003                                                NaN
                                                         2004                                                NaN
                                                         2005                                               0.05
                                                         2006                                               0.05
                                                         2007                                               0.07
                                                         2008                                               0.12
                                                         2009                                               0.16
                                                         2010                                               0.18
                                                         2011                                               0.25
                                                         2012                                               0.19
                                                         2013                                               0.17
                                                         2014                                               0.16
                                                         2015                                                NaN
                                                         2016                                                NaN
                                                         2017                                                NaN
AGO  Angola       Lower middle income Sub-Saharan Africa 1990                                               0.12

In [26]:
data_tidy.shape

(5460, 136)

In [27]:
# Isso vai permitir voltar a um DataFrame normal
data_tidy.reset_index(inplace=True)

In [28]:
data_tidy.head(50)

indicator_name,code,country_name,income_group,region,year,Adjusted net savings (% of GNI),"Adolescent birth rate (births per 1,000 women ages 15-19)","Antenatal care coverage, at least one visit (%)",Carbon dioxide emissions (kg per 2011 PPP $ of GDP),"Carbon dioxide emissions, per capita (tonnes)",...,"Unemployment, total (% of labour force)","Unemployment, youth (% ages 15–24)","Unmet need for family planning (% of married or in-union women of reproductive age, 15–49 years)",Urban population (%),Vulnerable employment (% of total employment),Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older),Working poor at PPP$3.10 a day (% of total employment),Young age (0-14) dependency ratio (per 100 people ages 15-64),Youth not in school or employment (% ages 15-24),Youth unemployment rate (female to male ratio)
0,AFG,Afghanistan,Low income,South Asia,1990,NaN,161.2,NaN,NaN,0.2,...,NaN,NaN,NaN,21.2,NaN,NaN,NaN,96.6,NaN,NaN
1,AFG,Afghanistan,Low income,South Asia,1991,NaN,NaN,NaN,NaN,NaN,...,12.0,25.6,NaN,21.3,62.0,NaN,98.9,96.5,NaN,1.01
2,AFG,Afghanistan,Low income,South Asia,1992,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21.4,NaN,NaN,NaN,96.4,NaN,NaN
3,AFG,Afghanistan,Low income,South Asia,1993,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21.4,NaN,NaN,NaN,96.4,NaN,NaN
4,AFG,Afghanistan,Low income,South Asia,1994,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21.5,NaN,NaN,NaN,96.3,NaN,NaN
5,AFG,Afghanistan,Low income,South Asia,1995,NaN,163.9,NaN,NaN,0.1,...,8.7,17.8,NaN,21.6,73.7,NaN,99.2,95.8,NaN,1.11
6,AFG,Afghanistan,Low income,South Asia,1996,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21.7,NaN,NaN,NaN,96.6,NaN,NaN
7,AFG,Afghanistan,Low income,South Asia,1997,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21.8,NaN,NaN,NaN,97.4,NaN,NaN
8,AFG,Afghanistan,Low income,South Asia,1998,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21.9,NaN,NaN,NaN,97.9,NaN,NaN
9,AFG,Afghanistan,Low income,South Asia,1999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.0,NaN,NaN,NaN,98.4,NaN,NaN
10,AFG,Afghanistan,Low income,South Asia,2000,NaN,165.2,NaN,NaN,0.0,...,11.2,23.6,NaN,22.1,78.5,NaN,99.1,98.8,NaN,1.02
11,AFG,Afghanistan,Low income,South Asia,2001,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.2,NaN,NaN,NaN,98.4,NaN,NaN
12,AFG,Afghanistan,Low income,South Asia,2002,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.3,NaN,NaN,NaN,97.7,NaN,NaN
13,AFG,Afghanistan,Low income,South Asia,2003,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.4,NaN,NaN,NaN,96.8,NaN,NaN
14,AFG,Afghanistan,Low income,South Asia,2004,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.5,NaN,NaN,NaN,95.8,NaN,NaN
15,AFG,Afghanistan,Low income,South Asia,2005,NaN,146.4,NaN,0.05,0.1,...,8.5,17.3,NaN,22.7,73.8,NaN,99.0,94.7,NaN,1.08
16,AFG,Afghanistan,Low income,South Asia,2006,NaN,NaN,NaN,0.05,NaN,...,9.1,18.7,NaN,22.9,73.1,NaN,99.0,95.2,NaN,1.06
17,AFG,Afghanistan,Low income,South Asia,2007,NaN,NaN,NaN,0.07,NaN,...,7.8,16.1,NaN,23.1,72.0,NaN,98.9,95.8,NaN,1.08
18,AFG,Afghanistan,Low income,South Asia,2008,NaN,NaN,36.0,0.12,NaN,...,8.8,18.4,NaN,23.3,71.4,NaN,98.9,96.1,NaN,1.05
19,AFG,Afghanistan,Low income,South Asia,2009,NaN,NaN,NaN,0.16,NaN,...,6.7,13.9,NaN,23.5,69.0,NaN,98.9,96.2,NaN,1.09
20,AFG,Afghanistan,Low income,South Asia,2010,-19.3,101.8,59.6,0.18,0.3,...,7.8,16.5,NaN,23.7,67.2,NaN,98.9,95.8,NaN,1.06
21,AFG,Afghanistan,Low income,South Asia,2011,-25.3,96.5,47.9,0.25,0.4,...,8.2,17.3,NaN,23.9,66.6,2.6,98.8,94.1,NaN,1.07
22,AFG,Afghanistan,Low income,South Asia,2012,-19.2,91.2,51.2,0.19,0.4,...,7.9,16.6,NaN,24.2,65.4,NaN,98.7,91.9,NaN,1.07
23,AFG,Afghanistan,Low income,South Asia,2013,-26.7,85.9,NaN,0.17,0.3,...,8.5,17.5,NaN,24.4,65.1,NaN,98.6,89.3,NaN,1.07
24,AFG,Afghanistan,Low income,South Asia,2014,-22.9,80.6,63.2,0.16,0.3,...,8.7,17.9,NaN,24.6,65.3,3.8,98.5,86.7,NaN,1.07
25,AFG,Afghanistan,Low income,South Asia,2015,-27.6,75.3,58.6,NaN,NaN,...,8.9,18.1,NaN,24.8,65.8,NaN,98.4,84.1,NaN,1.07
26,AFG,Afghanistan,Low income,South Asia,2016,-28.5,64.5,NaN,NaN,NaN,...,8.8,17.9,24.5,25.0,66.0,NaN,98.3,81.8,NaN,1.07
27,AFG,Afghanistan,Low income,South Asia,2017,NaN,64.5,NaN,NaN,NaN,...,8.8,17.7,NaN,25.2,66.1,7.2,98.2,79.8,NaN,1.05
28,AGO,Angola,Lower middle income,Sub-Saharan Africa,1990,-48.0,220.5,NaN,0.12,0.4,...,NaN,NaN,NaN,37.1,NaN,NaN,NaN,98.2,NaN,NaN
29,AGO,Angola,Lower middle income,Sub-Saharan Africa,1991,NaN,NaN,NaN,NaN,NaN,...,23.7,54.5,NaN,38.6,72.8,NaN,48.0,98.6,NaN,1.05
30,AGO,Angola,Lower middle income,Sub-Saharan Africa,1992,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.0,NaN,NaN,NaN,98.5,NaN,NaN
31,AGO,Angola,Lower middle income,Sub-Saharan Africa,1993,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41.5,NaN,NaN,NaN,98.0,NaN,NaN
32,AGO,Angola,Lower middle income,Sub-Saharan Africa,1994,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.0,NaN,NaN,NaN,97.3,NaN,NaN
33,AGO,Angola,Lower middle income,Sub-Saharan Africa,1995,NaN,213.0,NaN,0.31,0.8,...,23.9,55.2,NaN,44.2,64.2,NaN,49.2,96.5,NaN,1.06
34,AGO,Angola,Lower middle income,Sub-Saharan Africa,1996,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,45.3,NaN,NaN,NaN,96.5,NaN,NaN
35,AGO,Angola,Lower middle income,Sub-Saharan Africa,1997,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,46.5,NaN,NaN,NaN,96.3,NaN,NaN
36,AGO,Angola,Lower middle income,Sub-Saharan Africa,1998,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,47.7,NaN,NaN,NaN,95.8,NaN,NaN
37,AGO,Angola,Lower middle income,Sub-Saharan Africa,1999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.9,NaN,NaN,NaN,95.3,NaN,NaN
38,AGO,Angola,Lower middle income,Sub-Saharan Africa,2000,-75.1,202.5,NaN,0.20,0.6,...,23.7,54.6,NaN,50.1,61.1,NaN,44.0,94.6,NaN,1.05
39,AGO,Angola,Lower middle income,Sub-Saharan Africa,2001,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51.3,NaN,NaN,NaN,94.7,NaN,NaN
40,AGO,Angola,Lower middle income,Sub-Saharan Africa,2002,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.5,NaN,NaN,NaN,94.5,NaN,NaN
41,AGO,Angola,Lower middle income,Sub-Saharan Africa,2003,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,53.6,NaN,NaN,NaN,94.3,NaN,NaN
42,AGO,Angola,Lower middle income,Sub-Saharan Africa,2004,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,54.8,NaN,NaN,NaN,94.0,NaN,NaN
43,AGO,Angola,Lower middle income,Sub-Saharan Africa,2005,-50.6,192.8,NaN,0.25,1.0,...,21.4,49.9,NaN,56.0,70.9,NaN,44.0,93.7,NaN,1.06
44,AGO,Angola,Lower middle income,Sub-Saharan Africa,2006,NaN,NaN,NaN,0.24,NaN,...,19.1,44.5,NaN,56.8,70.1,NaN,45.5,94.0,NaN,1.06
45,AGO,Angola,Lower middle income,Sub-Saharan Africa,2007,NaN,NaN,79.8,0.22,NaN,...,16.8,39.2,NaN,57.5,69.4,NaN,46.6,94.1,NaN,1.05
46,AGO,Angola,Lower middle income,Sub-Saharan Africa,2008,NaN,NaN,NaN,0.20,NaN,...,14.5,33.7,NaN,58.3,68.4,NaN,48.9,94.2,NaN,1.04
47,AGO,Angola,Lower middle income,Sub-Saharan Africa,2009,NaN,NaN,NaN,0.21,NaN,...,12.1,28.1,NaN,59.0,67.8,NaN,51.6,94.1,NaN,1.03
48,AGO,Angola,Lower middle income,Sub-Saharan Africa,2010,-38.1,173.6,NaN,0.21,1.2,...,9.9,22.8,NaN,59.8,67.8,NaN,56.9,93.9,NaN,1.01
49,AGO,Angola,Lower middle income,Sub-Saharan Africa,2011,-39.1,170.7,NaN,0.21,1.3,...,7.4,16.9,NaN,60.5,67.6,38.9,61.8,94.1,10.0,0.99

In [29]:
# Diferentes indicadores estudados
indicators = data.indicator_name.unique()
print(indicators.shape)

(157,)

In [30]:
data_tidy.shape
# vemos que temos bem 1 linha por pais e ano pois : 5460 = 28 * 195 (195 paises e 28 anos estudados )
# vemos que temos todas as colunas : 1 = 157 + 6 (157 colunas de indicadores e 6 colunas de pais (nome, regiao, etc.) )

(5460, 141)

In [31]:
# Valores mais recentes para fazer analises numericas
recent_data = data_tidy[(data_tidy.year == 2017)]

In [32]:
recent_data.head()

indicator_name,code,country_name,income_group,region,year,Adjusted net savings (% of GNI),"Adolescent birth rate (births per 1,000 women ages 15-19)","Antenatal care coverage, at least one visit (%)",Carbon dioxide emissions (kg per 2011 PPP $ of GDP),"Carbon dioxide emissions, per capita (tonnes)",...,"Unemployment, total (% of labour force)","Unemployment, youth (% ages 15–24)","Unmet need for family planning (% of married or in-union women of reproductive age, 15–49 years)",Urban population (%),Vulnerable employment (% of total employment),Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older),Working poor at PPP$3.10 a day (% of total employment),Young age (0-14) dependency ratio (per 100 people ages 15-64),Youth not in school or employment (% ages 15-24),Youth unemployment rate (female to male ratio)
27,AFG,Afghanistan,Low income,South Asia,2017,NaN,64.5,NaN,NaN,NaN,...,8.8,17.7,NaN,25.2,66.1,7.2,98.2,79.8,NaN,1.05
55,AGO,Angola,Lower middle income,Sub-Saharan Africa,2017,NaN,151.6,NaN,NaN,NaN,...,8.2,19.1,NaN,64.8,66.7,22.3,59.0,92.2,NaN,1.02
83,ALB,Albania,Upper middle income,Europe & Central Asia,2017,NaN,20.7,NaN,NaN,NaN,...,13.9,30.0,NaN,59.4,57.2,38.1,1.5,25.1,NaN,0.96
111,AND,Andorra,High income,Europe & Central Asia,2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,88.2,NaN,NaN,NaN,NaN,NaN,NaN
139,ARE,United Arab Emirates,High income,Middle East & North Africa,2017,NaN,28.4,NaN,NaN,NaN,...,1.7,5.1,NaN,86.2,0.4,76.4,0.5,16.4,NaN,1.21

In [33]:
# Valores mais recentes de GENERO para fazer analises numericas
gender_indicators = data[(data.category == 'Gender')].indicator_name.unique()
recent_data_gender = recent_data[gender_indicators]

KeyError: "['Child marriage, women married by age 18 (% of women ages 20–24 years who are married or in union)'\n 'Female share of graduates in science, mathematics, engineering, manufacturing and construction at tertiary level (%)'\n 'Violence against women ever experienced, intimate partner (% of female population ages 15 and older)'\n 'Violence against women ever experienced, nonintimate partner (% of female population ages 15 and older)'] not in index"

## 2 - Dados numericos

### Examinando

In [ ]:
# método de descrição de atributos numéricos (nao faz muito sentido pois tem todas as categorias diferentes)
data.describe()

#####ACHO QUE ISSO DAQUI NAO TA BOM POIS TERIAMOS QUE CRIAR UM DATAFRAME PARA CADA ASPECTO ESTUDADO...

In [ ]:
# Diferentes indicadores estudados
indicators = data.indicator_name.unique()
print(indicators.shape)

In [ ]:
# Diferentes indicadores de genero estudados
gender_indicators = data[(data.category == 'Gender')].indicator_name.unique()
print(gender_indicators)

## 3 - Dados categoricos

### Examinando

In [ ]:
# Todos os paises nao tem dados para todas as categorias
data['country_name'].value_counts(dropna=False)

In [ ]:
# Todos os indicadores nao tem o mesmo numero de respostas...
print(pd.DataFrame(data['indicator_name'].value_counts(dropna=False)))

In [ ]:
#Numero de respostas por indicador de gênero
print(pd.DataFrame(data[(data.category == 'Gender')]['indicator_name'].value_counts(dropna=False)))

### Visualizando

### Examinando por categoria

## PERGUNTA 1 - blabla

## PERGUNTA 2 - blabla

## PERGUNTA 3 - blabla

## PERGUNTA 4 - blabla

## PERGUNTA 5 - blabla

## PERGUNTA 6 - blabla

## PERGUNTA 7 - blabla

## PERGUNTA 8 - blabla

## PERGUNTA 9 - blabla

## PERGUNTA 10 - blabla